/********** NAV **********/
nav {
	background: #272727;
	float: left;
	width: 100%;
}
nav ul {
	text-align: center;
}
nav ul li {
	float: left;
	display: inline;
}
nav ul li:hover {
	color: #fff;
}
nav ul li a {
	display: block;
	padding: 15px 25px;
	color: #c6c6c6;
}
nav ul li a:hover {
	text-decoration: none;
	color: #0099CC;
}
.dropdown {
	position: absolute;
	width: 110px;
	background: #3b3b3b;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.dropdown li {
	width: 110px;
}
.dropdown li a {
	display: block;
	padding: 15px 10px;
	color: #fff;
}

/********** HEADER **********/
.row-fluid {
	margin-top: 55px;
}

/********** FOOTER **********/
footer {
	width: 100%;
	text-align: center;
}

/********** PROJECT **********/
div.hero {
	text-align: center;
}
.wod h2 {
	text-align: center;
}
.wod h4 {
	text-align: center;
}
.generate_wod {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
